.buttonhover {
    &:hover {
        transition: 0.2s ease;
        background-color: black;
        color: white;
    }
}


.imagecont {
    transition: 0.3s ease;
    &:hover {
        p {
            color: black;
        }
    }
}