.header {
    background: url('../images/desktop/image-hero.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    background-position:50% 50%;
    height: 80vh;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
}